.allpostbox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 25px;

}



.emptybox {
    width: 100%;
    background-color: var(--cardColor);
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15%;
    padding-bottom: 25%;


}

.emptyboxtxt {
    font-size: 42px;
    font-weight: bolder;
    color: rgba(161, 161, 161, 0.821);
}





.litecommentbox {
    width: 100%;
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;

}


.cbox {
    background-color: rgb(243, 243, 243);
    border-radius: 1rem;
    padding: 10px;
}

.spebox2 {
    background-color: rgba(250, 222, 253, 0.896);
    border: 2px solid rgba(250, 206, 255, 0.896);
    border-radius: 0.8rem;
    padding-top: 6px;
    padding-bottom: 5px;
    margin-top: 7px;
}


.commentcreationdate {
    border: 1px solid rgba(255, 213, 75, 0.96);
    border-radius: 0.5rem;
    background-color: rgb(255, 233, 111);
    padding: 5px 8px 5px 8px;
}

.crtext {
    color: rgb(79, 79, 79);

}

.mutedtext {
    color: gray;
}

.morefeed {
    width: 100%;
    /* height: 2.5rem; */
    color: #355ff9;
    border-radius: 5px 5px 10px 10px;
    background: var(--cardColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 20px; */
    cursor: pointer;
    /* padding-top: 5px; */
    border: none;
    margin-bottom: 5px;
}

.morefeedhr {
    width: 100%;
    border: 1px solid var(--hrColor);
    margin-bottom: 5px;
    padding-bottom: 0px;
    margin-top: 1px;
}