.Signupbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95.7vh;
    position: relative;
    background: url('https://res.cloudinary.com/dcyrnfucz/image/upload/v1692011128/wp2280999_nzrc2q.webp') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    box-shadow: rgba(252, 156, 60, 0.879) 5px 5px 35px;

}


.signupcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    backdrop-filter: blur(70px);
    border: 3px solid rgb(177, 145, 117);
    -webkit-backdrop-filter: blur(70px);
    border-radius: 25px;


    box-shadow: rgba(255, 255, 255, 0.755) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;

}

.infoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 75vh;

}

.firstinputholder {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;

}

.restholders {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.formdata {
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}



.infoInput {
    border: none;
    outline: none;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    color: black;
    font-size: medium;
    width: 100%;
}



.infoButton {
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
}

.btncase {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

}

.formerrortext {
    color: rgb(255, 33, 33);
    font-family: sans-serif;
    font-size: 13.5px;
    font-weight: 600;
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
    margin-top: 18px;
    margin-bottom: -19px;

}


.formerrortext2 {
    color: rgb(255, 33, 33);
    font-family: sans-serif;
    font-size: 13.5px;
    font-weight: 500;
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
    margin-top: 4px;
    margin-bottom: -8px;

}