.followercardbox {
    width: auto;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    gap: 1rem;
    font-size: 15px;
    max-height: 36vh;
    overflow: auto;
    background: var(--cardColor);
    padding-left: 10px;
    padding-right: 10px;

}

.followercardbox>h3 {
    margin-top: 12px;
    margin-bottom: 0px;
    align-self: center;
}

.indivFollower {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.indivFollower>div {
    display: flex;
    gap: 10px;

}

.userphoto {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;

}

.followerdetails {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.followerbtn {
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}

.morefollowers {
    width: 100%;
    height: 3.5rem;
    color: #355ff9;
    border-radius: 0px 0px 10px 10px;
    background: var(--cardColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    cursor: pointer;
    padding-top: 5px;
    border: none;
}



.morefhr {
    /* margin-top: 20px; */
    width: 95%;
    border: 1px solid var(--hrColor);
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.morefollowerbox {

    width: 90%;
    background: var(--cardColor);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 2rem 0.1rem 2rem;
}


.seemorebtn {
    width: 100%;
    height: 2.5rem;
    color: #355ff9;
    font-size: larger;
    background: var(--cardColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 8px; */
    cursor: pointer;
    /* padding-top: 5px; */
    border: none;


}