.leftsideprofilebox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    overflow: auto;

    /* this beacuse of that change profile pic tab  */
    overflow: visible;
}