.logocomponentmain {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;

    width: 90%;
}

.logocomponentimg {
    /* margin-top: 10px; */
    display: flex;
    max-width: 25%;
    object-fit: cover;
    border-radius: 1rem;

}

.logotextimg {
    display: flex;
    max-width: 70%;
    object-fit: cover;
}