.menucomponentbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--cardColor);
    border-radius: 31px;
}

.menuoptions {
    display: flex;
    justify-content: flex-start;
    /* margin-top: 1rem; */
    align-items: center;
    padding: 16px 10px 16px 20px;
    background: rgb(255, 255, 255);
    text-decoration: none;
    color: black;

    border-radius: 3.5rem;
    cursor: pointer;

}

.optiontext {
    padding-left: 20px;

}



.menucomponentbox :hover {
    background: rgba(223, 223, 223, 0.797);

}

.sharebutton {
    width: 99%;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 22px;
    align-self: center;
    border-radius: 5rem;
}

.menuicons {
    height: 28px;
    width: 28px;
}