.menucomponentbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--cardColor);
    border-radius: 31px;
}

.menuoptions {
    display: flex;
    justify-content: flex-start;
    /* margin-top: 1rem; */
    align-items: center;
    padding: 15px 10px 15px 26px;
    background: rgb(255, 255, 255);
    text-decoration: none;
    color: black;

    border-radius: 3.5rem;
    cursor: pointer;

}

.optiontext {
    padding-left: 16px;
    font-size: 19px;

}

@media (max-width: 1024px) {
    .optiontext {
        padding-left: 16px;
        font-size: 1.6vw;
    }
}

/* Breakpoint for mobiles (adjust as needed) */
@media (max-width: 768px) {
    .optiontext {
        padding-left: 16px;
        font-size: 1.6vw;
    }
}



.menucomponentbox :hover {
    background: rgba(223, 223, 223, 0.797);

}

.sharebutton {
    width: 99%;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 22px;
    align-self: center;
    border-radius: 5rem;
}

.menuicons {
    height: 28px;
    width: 28px;
}