.mfollowingbox {
    position: relative;
    display: grid;
    grid-template-columns: 18vw auto;
    gap: 1rem;
    min-height: 100vh;
    max-height: 100vh;
    padding: 1rem 1rem;
}


@media (max-width: 1190px) {
    .mfollowingbox {
        grid-template-columns: 24vw auto;
    }
}

/* Breakpoint for tablets (adjust as needed) */
@media (max-width: 1024px) {
    .mfollowingbox {
        grid-template-columns: 27vw auto;
    }
}

/* Breakpoint for mobiles (adjust as needed) */
@media (max-width: 768px) {
    .mfollowingbox {
        grid-template-columns: auto;
    }
}