.backgroundblur2 {
    display: none;
}

.backgroundblur {
    display: none;
}

.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://res.cloudinary.com/dcyrnfucz/image/upload/v1713807352/bnmzvsq6s9vb3snrbr6i.gif);
    height: 400px;
    background-position: center;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #ff9100;
    margin: 20px 0;
    display: inline-block;
    border-radius: 5px;
}

.contant_box_404 {
    margin-top: -50px;
}