.profiledetailsbox {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
    width: auto;

}



.userinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userinfo>div:hover {
    cursor: pointer;
}

.btncontainer {
    display: flex;
    /* gap: 1rem; */
    justify-content: space-around;
}

.logout-button {
    width: 7rem;
    height: 2rem;
    margin-top: 0rem;
    align-self: center;
}

.hrprofdet {
    width: 99%;
    color: rgb(151, 151, 151);
    margin-top: -1rem;
    border: 2px solid;
    border-radius: 15rem;
    margin: -12px 0px -2px 0px;
}


.info2 {
    font-size: larger;
    margin-bottom: 1rem;
}

.editbtn {
    border: 1px solid rgb(158, 249, 255);
    border-radius: 0.5rem;
    margin-bottom: 2px;
    margin-top: -10px;
    background-color: rgb(222, 253, 255);
    margin-right: 2px;
}