.rightofhomebox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* max-height: 100vh; */
}



.sharebutton {
    width: 99%;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 22px;
    align-self: center;
    border-radius: 5rem;
}