.sharecompbox {
    display: flex;
    gap: 1rem;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;

}

.highzindex {
    z-index: 1022 important;
}

.sharecompbox>div {
    width: 100%;
}

.postcompImg {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}

.postbox>div {
    display: flex;
    flex-direction: column;
    width: 98%;
    gap: 1rem;
}

.postbox>div>textarea {
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    /* border: none; */
    outline: none;
    min-height: auto;

}

.postingfeatures {
    display: flex;

    justify-content: space-around;
}

.feature {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.feature:hover {
    cursor: pointer;
}

.postbutton {
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px
}

.tobeuloadedimg {
    position: relative;
}

.imgbox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tobeuloadedimg>div>Img {
    width: auto;
    max-width: 43rem;
    max-height: 24rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

#postImageDismiss {
    position: relative;
    /* right: 1rem;
    top: 0.5rem; */
    cursor: pointer;


}

.imgdismiss {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer;
    background-color: rgb(174, 174, 179);
    padding: 10px;
    border-radius: 50%;

}


.sharefeaturecomp {
    height: 30px;
    width: 30px
}


.tagbox {
    background-color: rgba(227, 255, 254, 0.658);
    border: 1px solid rgba(255, 147, 59, 0.788);
    border-radius: 0.5rem;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: rgba(255, 147, 59, 0.788) 0px 1px 4px;
}

.indivtagcross {
    font-size: medium;

}


.indivtag {
    animation: tilt-shaking 0.20s infinite;
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(0.7deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-0.7deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.clickedfeature {
    border: 1px solid rgb(163, 163, 163);
    border-radius: 0.5rem;
    background-color: rgba(216, 247, 255, 0.895);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;


}