.timelinepagebox {
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;
    max-height: 95.7vh;

}

.timelinecompbox {
    max-height: 95.7vh;
    min-height: 95.7vh;
    overflow: auto;
}

.tabbox {

    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    /* overflow: auto; */
    background-color: rgb(238, 238, 238);

}


.tabbox>hr {
    padding: 1.1px;
    border-radius: 80px;
    background-color: rgb(91, 91, 91);
    margin-left: 1.2vw;
}

.tabitems {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 1px 1px;
}

.tabitems>li>a {

    font-size: large;
    font-weight: 600;
    color: rgb(255, 94, 0);

}

.displayelement {
    overflow: auto;
}



.customStickyTop {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}