.userprofilebox {
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;
    max-height: 100vh;
    padding: 1rem 1rem;
}


@media (max-width: 1190px) {
    .userprofilebox {
        grid-template-columns: 20vw auto 23vw;
    }
}

/* Breakpoint for tablets (adjust as needed) */
@media (max-width: 1024px) {
    .userprofilebox {
        grid-template-columns: 23vw auto;
    }
}

/* Breakpoint for mobiles (adjust as needed) */
@media (max-width: 768px) {
    .userprofilebox {
        grid-template-columns: auto;
    }
}







.userprofilecenter {
    display: flex;
    flex-direction: column;
    max-height: 95.7vh;
    gap: 1rem;
    overflow: auto;
}