.viewpostpagebox {
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;
    max-height: 95.7vh;
}

.superviewsinglepostbox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #f4f4f4;
    border-radius: 1rem;
}

.backbtn {
    background-color: white;
    border-radius: 1rem;
    padding: 1px 10px 3px 10px;


}

.mainpost {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 97.5vh;
    overflow: auto;
}

.singlepostviewbox {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: var(--cardColor);
    border-radius: 1rem;
    gap: 1rem;

}

.posterdetails {
    display: flex;
    background-color: #ebebeb62;
    border-radius: 1rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.posterpic {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

/* .singlepostviewbox>img {
    max-width: 100%;
    max-height: 90vh;
    object-fit: scale-down;
    border-radius: 0.5rem;
} */

.imgcontainer {
    display: flex;
    max-width: 100%;
    max-height: 90vh;
    object-fit: scale-down;
    border-radius: 0.5rem;
    justify-content: center;

}

.postimage {
    max-width: 100%;
    max-height: 90vh;
    border-radius: 0.6rem;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */


}

.detail {
    display: flex;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.spostfeatures {
    display: flex;
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;

}


.featureicon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}


/* css for comment section */

.commentsection {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    width: auto;
    margin-bottom: 1rem;
}

.commentbox {
    width: auto;
    padding: 25px 25px 10px 25px;
    display: flex;
    flex-direction: column;
}

.commentbtnsection {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.commentbtn {
    width: auto;
    padding: 10px;

    margin-top: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}

.commentinput {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(101, 101, 101);
    background-color: #f4f4f4;
    border-radius: 0.5rem 0.5rem 0.4rem 0.4rem;
    font-size: 18px;
    outline: none;
    padding: 10px 10px 6px 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.commentlistbox {
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;


}

.commenterpic {
    width: 2.9rem;
    height: 2.9rem;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    cursor: pointer;
}

.usersection {
    display: flex;
    flex-direction: column;
}

.commenterdetails {
    padding: 1px 1px 3px 1px;
    margin-left: 10px;
    /* font-size: smaller; */
    font-size: 14px;
    color: grey;

}

.singlecomment {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;


}

.commentdesc {
    padding: 2px;
    display: flex;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    margin-left: 9px;
    font-size: 15px;
}

.seemorecomments {
    width: 100%;
    height: 3.5rem;
    color: #355ff9;
    background-color: #ece7e4;
    font-size: larger;
    /* background: var(--cardColor); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 0.1rem 0.1rem 1rem 1rem;
}



.showtagsbtn {
    border: 1px solid rgb(154, 205, 251);
    border-radius: 1rem;
    padding: 2px 6px 2px 6px;
    margin-right: 3px;
    cursor: pointer;
    font-size: 12px;
}